.icon__degree{
    max-height: 50px;
    margin: $padding__big;
}

.icon__degree:nth-child(1){
    max-height: 50px;
}

.icon__degree:nth-child(2){
     max-height: 70px;
 }

.separation-bar__diploma{
    width: 2px;
    background-color: $white-col;
    height: 80%;
    align-self: center;
    grid-column-gap: 15px;
}

.container--diploma-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(20,35px);

    .container--diploma-item{
        justify-self: center;
    }

    .container--diploma-item:nth-child(1){
        @include gridChild(1,2,1,3);
        align-self: flex-end;
    }
    .container--diploma-item:nth-child(2){
        @include gridChild(2,3,1,3);
        align-self: flex-end;
    }
    .container--diploma-item:nth-child(3){
        @include gridChild(3,4,1,3);
        align-self: flex-end;
    }
    .container--diploma-item:nth-child(4){
        @include gridChild(1,2,3,4);
    }
    .container--diploma-item:nth-child(5){
        @include gridChild(2,3,3,12);
    }
    .container--diploma-item:nth-child(6){
        @include gridChild(3,4,3,17);
    }
    .container--diploma-item:nth-child(7){
        @include gridChild(1,2,4,11);
        width: 100%;
    }
    .container--diploma-item:nth-child(8){
        @include gridChild(1,3,11,16);
        width: 100%;
    }
    .container--diploma-item:nth-child(9){
        @include gridChild(1,4,16,21);
        width: 100%;
    }

    .container--diploma-text{
        padding: $padding__big;
        margin: $padding__small;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

