button:focus{
    outline: 0;
}

button{
    text-transform: uppercase;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn--fill{
    fill: $white-col;
    cursor: pointer;
    &:active{
        fill: $white-col_pale;
    }
}

//------------------ locker

.sub-container-locker{
  margin: 0;
}

//------------------ arrow

.btn__blue{
  fill: $bgc-col;
}

.btn--arrow__to-the-top{
  transform: rotate(180deg);
}

.btn--arrow__to-bottom{
    position: absolute;
    margin-top: 15vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn__mid-col{
  fill: $mid-col;
}

.containr-btn--arrow-btn{
    display: flex;
    justify-content: center;
}

.box-btn__arrow{
    padding: 20px;
}

.btn__arrow{
    &:hover{
        cursor: pointer;
    }

    height: 26px;
    width: 26px;
    animation-name: animationArrow;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes animationArrow{
    from{transform: translateY(0px);}
    to{transform: translateY(20px);}
}

//---------------------- call-to-A btn


.btn{
  background: $white-col;
  border: none;
  margin: 0;
  padding: 5px 30px;
  outline: inherit;
  color: saturate($mid-col, 5%);
  position: relative;
  z-index: 2;
  transform: origin(center);
  width: 200px;
  text-align: center;
  margin: 60px 0px;
}

.container--btn__call-to{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:active{
  background-color: $white-col_pale;
  color: darken($mid-col, 10%);
}

//--- call to decoration

.bubble-container{
  display: flex;
  align-items: center;
  position: relative;
}

.bubble{
  position: absolute;
  border: solid 3px $white-col_pale;
  border-radius: 100%;
  padding: 1px;
  opacity: 0.2;
  animation-name: bubbleOpacity;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  background-color: $white-col_pale;
}

.sub-bubble{
  animation-delay: -1s;
  animation-duration: 3s;
  transform: translateX(-30px) translateY(20px);
}

@mixin bubbleModifier($axeX, $axeY, $size, $delay, $duration){
  transform: translateX($axeX) translateY($axeY);
  width: $size;
  height: $size;
  animation-delay: $delay;
  animation-duration: $duration;
}

.bubble-container--top>.bubble:nth-child(1){
  transform: translateX(-90px);
  animation-delay: -2s;
  animation-duration: 5s;
}

.bubble-container--top{
  .bubble:nth-child(1){
    @include bubbleModifier(-70px, 30px, 15px, -1.2s, 3.3s);
  }
  .bubble:nth-child(2){
    @include bubbleModifier(-45px, 60px, 25px, -1s, 3.5s);
  }
  .bubble:nth-child(3){
    @include bubbleModifier(-10px, 45px, 10px, 0s, 3.7s);
  }
  .bubble:nth-child(4){
    @include bubbleModifier(50px, 50px, 14px, -0.3s, 5.5s);
  }
  .bubble:nth-child(5){
    @include bubbleModifier(100px, 78px, 17px, -0.7s, 4.3s);
  }
  .bubble:nth-child(6){
    @include bubbleModifier(-120px, 67px, 12px, -0.7s, 4.3s);
  }
}

.bubble-container--bottom{
  .bubble:nth-child(1){
    @include bubbleModifier(-75px, -58px, 18px, -0.2s, 4.6s);
  }
  .bubble:nth-child(2){
    @include bubbleModifier(-50px, -55px, 11px, -1.2s, 4.2s);
  }
  .bubble:nth-child(3){
    @include bubbleModifier(-20px, -45px, 6px, -2s, 7.5s);
  }
  .bubble:nth-child(4){
    @include bubbleModifier(25px, -52px, 7px, -0.8s, 5.7s);
  }
  .bubble:nth-child(5){
    @include bubbleModifier(50px, -60px, 15px, -3s, 6.1s);
  }
  .bubble:nth-child(6){
    @include bubbleModifier(55px, -67px, 19px, -3s, 6.1s);
  }
}

@keyframes bubbleOpacity{
  0%{
    $i:random(9);
    opacity: 0.1;
  }
  50%{
    $i:random(9);
    opacity: 0;
  }
  100%{
    $i:random(9);
    opacity: 0.1;
  }
}

//----------- switchs

.btn__switch{
  background-color: $mid-col;
  color: $white-col;
  width: 30px;
  height: 30px;
  padding: 20px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btn__switch{
  display: flex;
  
}


//----------------- Locker




.locker-color{
  fill:$bgc-col;
}

#locker{
  transform: scale(0.5);
}


.container-locker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-decoration__circle{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid $stroke-width+1 $bgc-col;
  border-radius: 100%;
  min-width:40px;
  min-height: 40px;
}

.decoration-locker{
  height: 100%;
  background-color: $bgc-col;
  width: $stroke-width+1;
}
