button:focus{
    outline: 0;
}

button{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn--fill{
    fill: $white-col;
    cursor: pointer;
    &:active{
        fill: $white-col_pale;
    }
}

.container-btn{
    position: relative;
}

.btn-text{
    position: absolute;
}

.containr-btn__down-arrow{
    position: absolute;
    top: 80vh;
    width: 65%;
    display: flex;
    justify-content: center;
}

.box-btn__down-arrow{
    padding: 20px;
}

.btn__down-arrow{
    &:hover{
        cursor: pointer;
    }

    height: 26px;
    width: 26px;
    animation-name: animationArrow;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes animationArrow{
    from{transform: translateY(0px);}
    to{transform: translateY(20px);}
}