//---------------- Desktop

.container-menu__desktop{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    //background: linear-gradient(0deg,$white-col_pale,darken($white-col_pale, 10%));
    background: $bgc-col;
    z-index: 15;

    .menu--item{
        padding: 0px 40px;
    }

    .menu--item-text__desktop{
        margin: 5px 0;
    }
}


//---------------- Mobile


.container--menu__mobile{

    .container-menu__mobile{
        background: linear-gradient(90deg,$white-col_pale,$white-col);
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 30;
        right: -100%;
        margin: 0;
    }
    
    .menu--item{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        left: -30%;
        top: 15vh;
        margin-right: 15px;
        padding: 10px 0;
    }
    
    .square{
        width: 20px;
        height: 20px;
        background-color: $mid-col;
        float: left;
        margin-right: 30px;
        //border: solid $border $bgc-col;
        border-radius: $radius;
    }

    .square__opacity{
        animation-name: activesquare;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;
        animation-direction: forwards;

    }
    @keyframes activesquare{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
    .home{
        padding: 0;
    }
}

.menu--blur-filter__active{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    z-index: 31;
}

.bgd-blur__active{
    filter: blur(2px);
  }
