.container-propeller{
    animation-name: show;
    animation-duration: 4.8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  .sub-container-propeller{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  @keyframes show{
    0%{
      opacity: 0;
    }
    45%{
      opacity: 0;
    }
    100%{
      opacity: 1;
      height: 68%;
    }
  }
  
  .ball{
    width: 9px;
    height: 9px;
    background-color: $mid-col;
    border-radius: 10px;
    margin: 10px;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2.3s;
    float: left;
  }
  .sub-container-propeller--left>.ball{
    animation-name: rotationA;
  }
  
  .sub-container-propeller--right>.ball{
    animation-name: rotationB;
  }
  
  @keyframes rotationA{
    0%{
      opacity: 1;
      transform: translateY(0px);
    }
    25%{
      opacity: 0.2;
    }
    50%{
      transform: translateY(30px);
      opacity: 1;
    }
    75%{
      opacity: 0.2;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes rotationB{
    0%{
      opacity: 0.2;
      transform: translateY(0px);
    }
    25%{
      opacity: 1;
    }
    50%{
      transform: translateY(-30px);
      opacity: 0.2;
    }
    75%{
      opacity: 1;
    }
    100%{
      transform: translateY(0px);
      opacity: 0.2;
    }
  }
  .sub-container-propeller--left>.ball{
    transform: translateY(-100px);
  }

  .ball__decoration{
    border: solid 1px $mid-col;
    background: none;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    span{
      width: 8px;
      height: 8px;
      background-color: $mid-col;
      border-radius: 10px;
    }
  }