.container-list-main-skills{
    width: 100%;
    margin: auto;
}

.sub-container-list-main-skills{
    display: flex;
    position: relative;
}

.main-skills-decoration{
    width: $border*2;
    background-color: $white-col;
    height: 15px;
}

/*.sub-container-list-main-skills__top{
    top: -15px;
}
.sub-container-list-main-skills__bottom{
    top: 15px;
}*/

.container--title-main-skills{
    //padding:  $padding__big;
    //border: solid $white-col_pale;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    background: $white-col;
    border-radius: 100%;
}

/*
.title-main-skills{
    position: relative;
}

.title-main-skills__top{
    top: 5px;
}

.title-main-skills__bottom{
    top: -15px;
}


.container--title-main-skills__top{
    border-width: $border $border 0 $border;
    border-radius: $radius $radius 0 0;
}

.container--title-main-skills__bottom{
    border-width: 0 $border $border $border;
    border-radius: 0 0 $radius $radius;
}

*/

.item-main-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}