@import "normalize.scss";
@import "foundation.min.scss";
@import "glide.core";
@import "variables.scss";

//-------------global

@import "text.scss";
@import "components/Button.scss";
@import "components/SectionHeader/sectionHeader.scss";
@import "components/SectionHeader/locker.scss";

//---------------header

@import "components/Header/header.scss";
@import "components/Nav/menu.scss";
@import "components/Nav/burger.scss";

//---------------about me

@import "components/AboutMe/Portrait/portrait.scss";
@import "components/AboutMe/Portrait/atom.scss";

//---------------my skills

@import "components/MySkills/MainSkills/dna.scss";
@import "components/MySkills/SubSkills/subskillitem.scss";
@import "components/MySkills/Preferences/preferences.scss";

//---------------my experiences

@import "components/MyExperiences/experiences.scss";

//---------------------my work

@import "components/MyWork/Components/samples.scss";

// global settings

.center{
    margin-left: auto;
    margin-right: auto;
}

a:visited, a:active, a:hover, a{
    text-decoration: none;
}

.border{
    border: solid 1px red;
}

#app {
    padding: 0;
    margin: 0;
}

body {
    background-color: $bgc-col;
    margin: 0;
    overflow-x: 0;
}

span {
    display: block;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

p{
    margin: 0;
}

.active {
    display: block;
}

//----------------------- section

.container-section-content{
    margin-top: 80px ;
    margin-bottom: 100px ;
}