@import "Vendors/normalize.scss";
@import "Vendors/foundation.min.scss";
@import "Vendors/glide.core";
@import "variables.scss";

//-------------global

@import "text.scss";
@import "components/Button.scss";
@import "components/SectionHeader/sectionHeader.scss";

//---------------header

@import "components/Header/header.scss";
@import "components/Nav/menu.scss";
@import "components/Nav/burger.scss";

//---------------about me

@import "components/AboutMe/Portrait/portrait.scss";
@import "components/AboutMe/Portrait/atom.scss";
@import "components/AboutMe/presentationText.scss";

//---------------my skills

@import "components/MySkills/mySkills.scss";

//---------------my experiences

@import "components/MyExperiences/experiences.scss";

//---------------------my work

@import "components/MyWork/Components/samples.scss";
@import "components/MyWork/Components/exhibitions.scss";

//---------------------my diploma

@import "components/MyDiploma/diploma.scss";

//---------------------contact

@import "components/Contact/contact.scss";

//---------------------footer

@import "components/Contact/footer.scss";

//---------------------posts

@import "components/Posts/post.scss";

//---------------------carousel

@import "components/carousel/carousel.scss";

//----------------------- background

@import "components/Background/background.scss";

// xy grid

//@import "~";


//--------------------- global settings

*{
    box-sizing: border-box;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

a:visited, a:active, a:hover, a{
    text-decoration: none;
}

#app {
    padding: 0;
    margin: 0;
}

body {
    background: $white-col_pale;
    margin: 0;
    overflow-x: 0;
}

span {
    display: block;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

p{
    margin: 0;
}

.active {
    display: block;
}

//------------- shadows

.shadow{
    //box-shadow: $soft-shadow;
}

//----------------------- section

.container-section-content{
    padding-top: 40px ;
    padding-bottom: 120px ;
    overflow-y: hidden;
    width: 80%;
    margin: auto;
    @media screen and (min-width: 800px){
        width: 80%;
    }

    @media screen and (min-width: 1200px){
        width: 40%;
    }
}

.container--sub-section{
    padding-top: 100px;
    padding-bottom: 200px;
    overflow: hidden;
}

.container-section-content{
    max-height: 100%;
}

.container--about-me, .container--experiences{
    background: $bgc-col;

    .text{
        color: $white-col;
    }
}

.container--work{
    background: $bgc-col;
}
