@font-face {
    font-family: "Oswald";
    src: //url("assets/fonts/Oswald/Oswald-Bold.woff2") format("woff2"),
         url("assets/fonts/Oswald/Oswald-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Poiret One";
    src: url("assets/fonts/Poiret_One/PoiretOne-Regular.woff2") format("woff2"),
         url("assets/fonts/Poiret_One/PoiretOne-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
         url("assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf"),
         url("assets/fonts/Roboto/Roboto-Light.ttf") format("ttf");
}

.text{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

.title__header, .text__header, .menu--item, .title__button{
    text-transform: uppercase;
}

.title__header, .text__header, .main__title{
    font-family: "Poiret One", "Roboto", sans-serif;
}

.title{
    color: $white-col;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    margin: 0;
}

//-- sizes

.title__big, .text__big{
    font-size: 28px;

    @media screen and (min-width: 800px) {
        font-size: 42px;
    }
}

.text__normal{
    font-size: 18px;
}

.text__small{
    font-size: 16px;
}

.text__tiny{
    font-size: 12px;
}

//--- colors

.title__white, .text__white{
    color: $white-col;
    text-shadow: 0 0  20px darken($white-col_pale, 12%);
}

.container--about-me, .container--work, .menu, .container-preferences, .footer {
    .title__white, .text__white{
        text-shadow: none;
    }
}

.title__pale{
    color: $white-col_pale;
}

.title__mid-color, .text__mid-color{
    color: $mid-col;
}

.title__bgc-color, .text__bgc-color{
    color: $bgc-col;
}