@font-face {
    font-family: "Oswald";
    src: //url("assets/fonts/Oswald/Oswald-Bold.woff2") format("woff2"),
         url("assets/fonts/Oswald/Oswald-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Poiret One";
    src: url("assets/fonts/Poiret_One/PoiretOne-Regular.woff2") format("woff2"),
         url("assets/fonts/Poiret_One/PoiretOne-Regular.ttf") format("ttf");
}

.title__header, .text__header, .menu--item, .title__button{
    text-transform: uppercase;
}

.text, .title__header, .text__header{
    font-family: "Poiret One", sans-serif;
}

.title{
    color: $white-col;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    margin: 0;
}

//-- sizes

.title__big, .text__big{
    font-size: 28px;
}

.text__normal{
    font-size: 18px;
}

.text__small{
    font-size: 16px;
}

.text__tiny{
    font-size: 12px;
}

//--- colors

.title__white, .text__white{
    color: $white-col;
}

.title__pale{
    color: $white-col_pale;
}

.title__mid-color, .text__mid-color{
    color: $mid-col;
}

.title__bgc-color, .text__bgc-color{
    color: $bgc-col;
}