// colors

$bgc-col: #0B0F1D;
$bgc-col_pale: #1A1D28;
$mid-col: #D24116;
$white-col: #FFFFFF;
$white-col_pale: #D8D8D8;

// fonts

$anton: 'Anton', sans-serif;
$poiret: 'Poiret One', cursive;

// sizes

$padding__small: 5px;
$padding__big: 15px;

$stroke-width: 2px;