@import "@/styles/components/MySkills/Preferences/Components/microscope.scss";
@import "@/styles/components/MySkills/Preferences/Components/cells.scss";

.container-preferences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-illustration{
    width: 10000px;
}