.sample--body-sample{
    border: 1px solid $mid-col;
    border-top: none;
    height: 250px;
    width: 44px;
    border-radius: 0 0 30px 30px;
    background-color: $bgc-col_pale;
}

.sample--plug-sample{
    width: 40px;
}

.sample--plug-sample{
    transform: translateY(15px) translateX(2px);
}

#sample1 .text-sample-container--text-sample { 
    animation-delay: 2s;
}

#sample3 .text-sample-container--text-sample { 
    animation-delay: 4s;
}

.text-sample-container--text-sample{
    padding-bottom: 7px;

    animation-name: floatText;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-timing-function: linear;
}

@keyframes floatText{
    0%{
        transform: rotate(-90deg) translateX(0px) translateY(0px);
    }
    20%{
        transform: rotate(-88deg)  translateX(-5px) translateY(1px);
    }
    45%{
        transform: rotate(-91deg)  translateX(3px) translateY(-1px);
    }
    70%{
        transform: rotate(-89deg)  translateX(-10px) translateY(4px);
    }
    85%{
        transform: rotate(-92deg)  translateX(-5px) translateY(-1px);
    }
    100%{
        transform: rotate(-90deg)  translateX(0px) translateY(0px);
    }
}

.body-sample--empty-space-sample{
    height: 20%;
    width: 100%;
    background-color: $bgc-col;
}

.container--samples li{
    align-items: flex-end;
}

.container--img__sample{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 230px;
  height: 230px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.sub-container--img__sample{
    margin: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.item--img__sample{
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}

