.container--samples-and-images{
    padding-bottom: $padding__extra-big; 
}

.sample--body-sample{
    border: $border solid $mid-col;
    border-top: none;
    height: 250px;
    width: 44px;
    border-radius: 0 0 30px 30px;
    background-color: $white-col;
}

.sample--plug-sample{
    width: 40px;
}

.sample--plug-sample{
    transform: translateY($padding__big) translateX(2px);
}

#sample-github {
    animation-delay: 2s;
}

#sample-codepen { 
    animation-delay: 4s;
}

.text-sample-container--text-sample{
    margin: 70px 0;
    padding-bottom: 7px;
    animation-name: floatText;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
    animation-timing-function: linear;
}

@keyframes floatText{
    0%{
        transform: rotate(-90deg) translateX(0px) translateY(0px);
    }
    20%{
        transform: rotate(-88deg)  translateX(-5px) translateY(1px);
    }
    45%{
        transform: rotate(-91deg)  translateX(3px) translateY(-1px);
    }
    70%{
        transform: rotate(-89deg)  translateX(-10px) translateY(4px);
    }
    85%{
        transform: rotate(-92deg)  translateX(-5px) translateY(-1px);
    }
    100%{
        transform: rotate(-90deg)  translateX(0px) translateY(0px);
    }
}

.body-sample--empty-space-sample{
    height: 20%;
    width: 100%;
    background-color: $white-col_pale;
}

.container--samples li{
    align-items: center;
    justify-content: space-between;
}

.container--samples-and-images:nth-child(even) .container-sample{
    order: 3;
}

.container--samples-and-images:nth-child(even) .container-sample-decoration{
    order: 2;
    transform: rotate(180deg);
}

.container--img__sample{
  width: 200px;
  height: 200px;
  margin-top: $padding__big;
}

.sub-container--img__sample{
    margin: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.item--img__sample{
    display: block;
    min-width: 100%;
    min-height: 100%;
    border-radius: 100%
}

.sample-decoration__left{
    border: solid $border $white-col_pale;
    width: 10px;
    height: 1px;
}

.sample-decoration__right{
    width:10px;
    height: 200px;
    border: solid $border $white-col_pale;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.container-sample-decoration{
    display: flex;
    align-items: center;
    margin-top: $padding__big;
}