.container--background{
    display: flex;
    .background-decoration{
        @include hexagon(50px, (lighten($white-col_pale, 1%)), (solid 2px (lighten($white-col_pale, 5%))));
        box-shadow: 10px 10px 50px darken($white-col_pale,10%);
        margin: 9px 2px;
        &:hover{
            position: relative;
            z-index: 14;
            transform: scale(1.4);
            transition: transform .5s;
        }
    }
}

.background-item--red {
    //background-color: red !important;
}

.background-item--empty {
    visibility: hidden;
}

.background-item--variation-big {
    transform: scale(1.2);
    position: relative;
    z-index: 13;
    box-shadow: 10px 10px 50px darken($white-col_pale,20%);
}

.background-item--variation-small {
    transform: scale(.8);
    position: relative;
    z-index: 1;
    box-shadow: 10px 10px 50px darken($white-col_pale,20%);
}

.container-global--background{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 99vw;
    height: 100vh;
}

.container--background--pair {
    transform: translate(26px, 0);
}