.container-menu__mobile{
    background-color: $white-col;
    height: 100vh;
    width: 80%;
    position: fixed;
    z-index: 10;
    right: -80%;
    margin: 0;
}

.menu--item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.square{
    width: 20px;
    height: 20px;
    background-color: $bgc-col;
    float: left;
}

.home{
    padding: 0;
}
