
.container--sub-skill-item{
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
    min-height: 90px;
    border: solid $border $mid-col;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: $radius;
    .title{
        width: 90%;
    }
}

.sub-skill-item-type{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2px 5px;
}

.empty{
    border: none;
}