

//-------------------------- carousel preferences

.container-swiper__custom-style{
    background-color: $white-col_pale;
    border-radius: 100%; 
}



.container--preference-text, .container-swiper__custom-style{
    width: 250px;
    height: 250px;
}

.container-swiper__custom-style__small{
    background-color: $white-col_pale;
    border-radius: 100%;
    //transform: scale(0.7); 
    width: 180px;
    height: 180px;
    margin-top: 30px;

}

.swiper-gallery--images__vertical-img{
    width: 250px;
}

.swiper-gallery--images__horizontal-img{
    height: 250px;
    width: 400px;
}

.swiper-gallery--container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}

.swiper-pagination{
    position: initial !important;
}

.swiper-pagination__preferences {
    padding-top: 50px;
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        color: red;
        font-size: 40px;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    .swiper-pagination-bullet-active {
        color:#fff;
        background: $mid-col !important;
      }

      .swiper-pagination-bullet-active:focus{
          outline: 0;
      }
  }