
.locker-color{
    fill:$bgc-col;
}

#locker{
    transform: scale(0.5);
}


.container-locker{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-container-locker{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid $stroke-width+1 $bgc-col;
    border-radius: 100%;
    min-width:40px;
    min-height: 40px;
}

.decoration-locker{
    height: 100%;
    background-color: $bgc-col;
    width: $stroke-width+1;
}
