#atom{
    overflow: visible;
    &:hover + .portrait{
      transform: scale(1.5);
      transition: transform 0.2s ease-in;
    }
  }
  
  .atom--elipse{
     fill:none;
     stroke: $mid-col;
     stroke-width:3;
     stroke-miterlimit:10;
  }
  
  .atom--circle{
    width: 30px;
    height: 30px;
    fill: $mid-col;
  }