.post{
    background: $white-col_pale;
    $background__light: lighten($bgc-col, 2%);
    background: desaturate($background__light, 10%);
    padding: 30px;
    border-radius: $radius;
    .title{
        color: $mid-col !important;
    }
    .text{
        color: $white-col;
    }
}

.post--white{
    background: darken($white-col, 12%);
    .text{
        color: $bgc-col;
    }
}
// need to fix this!