.atom--elipse{
  fill:none;
  stroke: $mid-col;
  stroke-width: $stroke-width;
  stroke-miterlimit:10;
}
  
.atom--circle{
  width: 10px;
  height: 10px;
  fill: $mid-col;
}

#atom{
  overflow: visible;
}