.container--portrait{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 310px;
  height: 355px;
  transform: scale(0.85);
  padding: $padding__big;
  margin: auto;
}

.portrait-img{
    position: absolute;
    z-index: 2;
    width: 80px;
    filter: saturate(70%);
    //clip-path: polygon(6% 75%, 50% 100%, 94% 75%,94% 25%,50% 0%,6% 25%);
    border-radius: 100%;
    //border: solid 2px $mid-col;
  }

